#div1{
	margin: 10px;
	padding: 40px;
    width: 900px;
    height: 900px;
    background-color: lightgrey;
    border-radius: 1000px;
}
#div2{
    margin: 35px;
    padding: 40px;   
    width: 750px;
    height: 750px;
    background-color: darkgrey;
    border-radius: 500px;
}
#div3{
	margin: 35px;
    padding: 45px;   
	width: 600px;
	height: 600px;
	background-color:grey;
	border-radius: 500px;
}
#div4{
	margin: 35px;
    padding: 40px;   
	width: 450px;
	height: 450px;
	background-color: dimgrey;
	border-radius: 500px;
}
#div5{
	margin: 35px;
    padding: 40px;   
	width: 300px;
	height: 300px;
	background-color:black;
	border-radius: 500px;
}
#div6{
	margin: 35px;
    padding: 40px;   
	width: 150px;
	height: 150px;
	background-color:white;
	border-radius: 500px;
}


